<h1>意見収集</h1>

<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>カテゴリ</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opinion.each do |opinion| %>
      <tr>
        <th><%= opinion.title %></th>
        <td><%= opinion.category %></td>
        <td><%= opinion.text %></td>
        <td><%= link_to '返信', opinion %></td>
        <td><%= link_to '修正', edit_opinion_path(opinion) %></td>
        <td><%= link_to '消去', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= render 'opinions/form' %>
  </tbody>
</table>

<br>
