<h1>意見収集</h1>
<p>Find me in app/views/opinions/index.html.erb</p>

<p id="notice"><%= notice %></p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opinion.each do |opinion| %>
      <tr>
        <th><%= opinion.title %></th>
        <td><%= opinion.text %></td>
        <td><%= link_to 'Show', life %></td>
        <td><%= link_to 'Edit', edit_life_path(life) %></td>
        <td><%= link_to 'Destroy', life, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
