<h1>意見収集</h1>

<table>
  <thead>
    <tr>
      <th width="15%">タイトル</th>
      <th width="5%" >カテゴリ</th>
      <th width="40%">本文</th>
      <th width="10%">返信数</th>
      <th width="10%">解決</th>
      <th width="10%">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @opinionlist.each do |opinion| %>
        <tr>
          <th><%= opinion.title %></th>
          <td><%= opinion.category %></td>
          <td><%= opinion.text %></td>
          <td><%=  %></td>
          <td><%= opinion.solve = 0 ? '未解決' : '解決' %></td>
          <td><%= link_to '返信', opinion_replies_path(opinion) %>
          <%= link_to '修正', edit_opinion_path(opinion) %>
          <%= link_to '消去', opinion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= render 'opinions/form' %>
