<h1>返信内容</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>カテゴリ</th>
      <th>本文</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <th><%= @opinion.title %></th>
        <td><%= @opinion.category %></td>
        <td><%= @opinion.text %></td>
      </tr>
      <% @replylist.each do |reply| %>
      <tr>
        <td><%= reply.opinion_id %></td>
        <td><%= reply.text %></td>
        <td>返信</td>
      </tr>
      <% end %>
  </tbody>
</table>
<%= render 'replies/reply' %>
<br>
