<header>
  <nav class="menu">
    <ul class="menu-inner">
      <li><%= link_to "Copinion", '/opinions', id: "logo" %></li>
      <li><%= link_to "一覧",   '/opinion' %></li>
      <li><%= link_to "生活",   '#' %></li>
      <li><%= link_to "学業", '#' %></li>
      <li><%= link_to "進路", '#' %></li>
      <li><%= link_to "部活", '#' %></li>
    </ul>
  </nav>
</header>